:root {
  --navbar-secondary: #dd6dbc;
  --navbar-primary: #6d88e8;
  --task-primary: #ed6483;
  --task-secondary: #e65c00;
  --seconday-awesome-white: #dde0fc;
  --primary-black: #070f2c;
  --awesome-white: #ffffff;
}

/* CSS RESETER=================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  background: linear-gradient(
    142deg,
    rgba(109, 136, 232, 1) 0%,
    rgba(221, 109, 188, 1) 50%,
    rgba(122, 54, 102, 1) 100%
  );

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
