.main_container {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin: auto;
  margin-top: 100px;
}

.d_inline {
  display: inline-block;
}

.logo {
  text-decoration: none;
  border-radius: 25%;

  font-size: 1.35rem;
  color: var(--awesome-white);
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.logo_text {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;

  color: var(--awesome-white);
  margin-left: 10px;
}

.cp_paragraph_link {
  text-decoration: none;
  color: var(--navbar-primary);
}

.paragraph {
  color: var(--awesome-white);
  text-align: center;
  border: 2px solid var(--awesome-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10%;
  margin: auto;
  margin-top: 75px;
  width: 75%;
  padding: 30px 20px;
  font-size: 0.85rem;
}

.link_container {
  margin-top: 70px;
  display: flex;
  align-items: center;
}

.navlink {
  margin-left: 2.75rem;
  color: var(--awesome-white);
  transition: all 0.3s ease-in;
  text-decoration: none;
  font-size: 1.25rem;
}

.navlink:hover,
.navlink_active {
  color: var(--primary-black);
}

.navlink_div {
  display: block;
  background-color: var(--awesome-white);
  z-index: -1;
  border-top-right-radius: 12.5px 12.5px;
  border-bottom-right-radius: 12.5px 12.5px;
  width: 200px;
  height: 50px;
  position: absolute;
  left: 0px;
  transform: translateX(-300px);
  transition: all 0.3s ease-in;
}

.navlink_div_hovered {
  transform: translateX(0px);
}

@media screen and (max-width: 1440px) {
  .logo {
    font-size: 1.3rem;
  }

  .navlink {
    margin-left: 30px;
    font-size: 1rem;
  }

  .paragraph {
    font-size: 0.75rem;
    padding: 25px 15px;
    width: 85%;
  }

  .navlink_div {
    width: 175px;
    height: 40px;
  }
}
